<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="25%">
    <search (searchTerm)="searchUsers($event)"></search>
    <div>Total Count: {{totalCount}}</div>
    <pagination-controls
      id="server"
      (pageChange)="searchUsers(query, $event)">
    </pagination-controls>
  </div>
  <div fxFlex="75%">
    <get-started *ngIf="!hasSearched"></get-started>
    <user-card *ngFor="let user of (users$ | async)?.items | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalCount }" [user]="user"></user-card>
  </div>
</div>
